{% extends 'base_annotator.html' %}

{% block title %}Project Page{% endblock %}


{% block header %}
<h1>Annotator: Project No. {{project_id}}</h1>
{% endblock %}

{% block content %}
{% if g.username %}
    <p>Annotator Name: {{g.username}}</p>
    <p>Description: {{description}}</p>

    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

    <div class="ProjectPage">
        <form method="post" enctype="multipart/form-data">

            <table>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>

                {% for sample in sample_list %}
                    <tr>
                        <td>{{sample[1]}}</td>
                        <!-- <td> <select name="label_sample_{{loop.index}}" style="width: 100%; height: 12em;" autocomplete="off" multiple> -->
                            <td> <select name="{{sample[0]}}" style="width: 100%; height: 12em;" autocomplete="off" multiple>
                                {% for label in label_list %}
                                    <option value= "{{label}}" >{{label}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                <script type="text/javascript">

                    var x = document.querySelectorAll('select')
                    var verified = [];
                    x[0].onchange  = function(e) {
                      if (this.querySelectorAll('option:checked').length <= {{max_annotation}}) {
                          verified = Array.apply(null, x[0].querySelectorAll('option:checked'));
                      } else {
                      alert("Not More Than {{max_annotation}} Annotators");
                        Array.apply(null, x[0].querySelectorAll('option')).forEach(function(e) {
                            e.selected = verified.indexOf(e) > -1;
                        });

                      }
                    }
                    x[1].onchange  = function(e) {
                      if (this.querySelectorAll('option:checked').length <= {{max_annotation}}) {
                          verified = Array.apply(null, x[1].querySelectorAll('option:checked'));
                      } else {
                      alert("Not More Than {{max_annotation}} Annotators");
                        Array.apply(null, x[1].querySelectorAll('option')).forEach(function(e) {
                            e.selected = verified.indexOf(e) > -1;
                        });

                      }
                    }
                    x[2].onchange  = function(e) {
                      if (this.querySelectorAll('option:checked').length <= {{max_annotation}}) {
                          verified = Array.apply(null, x[2].querySelectorAll('option:checked'));
                      } else {
                      alert("Not More Than {{max_annotation}} Annotators");
                        Array.apply(null, x[2].querySelectorAll('option')).forEach(function(e) {
                            e.selected = verified.indexOf(e) > -1;
                        });

                      }
                    }
                    x[3].onchange  = function(e) {
                      if (this.querySelectorAll('option:checked').length <= {{max_annotation}}) {
                          verified = Array.apply(null, x[3].querySelectorAll('option:checked'));
                      } else {
                      alert("Not More Than {{max_annotation}} Annotators");
                        Array.apply(null, x[3].querySelectorAll('option')).forEach(function(e) {
                            e.selected = verified.indexOf(e) > -1;
                        });

                      }
                    }
                    x[4].onchange  = function(e) {
                      if (this.querySelectorAll('option:checked').length <= {{max_annotation}}) {
                          verified = Array.apply(null, x[4].querySelectorAll('option:checked'));
                      } else {
                      alert("Not More Than {{max_annotation}} Annotators");
                        Array.apply(null, x[4].querySelectorAll('option')).forEach(function(e) {
                            e.selected = verified.indexOf(e) > -1;
                        });

                      }
                    }

                </script>
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
{% else %}
    <p>Something Wrong!</p>
{% endif %}
{% endblock %}
