<!doctype html>
<title>{% block title %}{% endblock %} | Pythia Client</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>{% if g.username %}Hi {{g.username}}{% endif %}</h1>
  <ul>
      <li><a href="{{ url_for('client.home') }}">Home</a>
      <li><a href="{{ url_for('client.createnew') }}">Create New</a>
      <li><a href="{{ url_for('client.dashboard') }}">Dashboard</a>
      {% if g.username %}
          <li><a href="{{ url_for('auth.signout') }}">Sign Out</a>
      {% endif %}
      {% if config['DEBUG_VIEWS'] %}
      <li><a href="{{ url_for('testing.populate_db') }}">Deb: Populate DB</a>
      <li><a href="{{ url_for('testing.show_db') }}">Deb: Show DB</a>
      {% endif %}

    <!-- {#{% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}#} -->
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>
