{% extends 'base_client.html' %}

{% block title %}Create New{% endblock %}


{% block header %}
<h1>Client: Create New</h1>
{% endblock %}

{% block content %}
{% if g.username %}
    <p>Create New Note</p>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

    <div class="Createnew">

    {% if config['DEBUG_VIEWS'] == True %}
        <form method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Title</td>
                    <td><input type="text" name="title" id="title" maxlength="50" placeholder="Max Limit 50 characters."
                        autocomplete="off" ></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea name="description" maxlength="500" placeholder="Max Limit 500 characters." autocomplete="off"></textarea></td>
                </tr>
                <tr>
                    <td>Deadline</td>
                    <td><input type="date" name="due_date" autocomplete="off"></td>
                </tr>
                <tr>
                    <td>Sample File (.csv)</td>
                    <td><input type="file" name="samplefile" id="samplefile" accept=".csv"
                        autocomplete="off"></td>
                    <script type="text/javascript">
                        var uploadField = document.getElementById("samplefile");
                        var regex = new RegExp("(.*?)\.(csv)$");
                        uploadField.onchange = function() {
                            //alert("here");
                            if(this.files[0].size > 1048576*50){
                               alert("File is too big.");
                               this.value = "";
                               return;
                            };
                            //alert("here2");
                            if (!(regex.test(this.value.toLowerCase()))) {
                              this.value = "";
                              alert("Please select correct file format.");
                            }
                            //alert("here3");
                        };
                    </script>
                </tr>
                <tr>
                    <td>No. Of Labels</td>
                    <td><input type="number" name="label_count" id="nlabels" placeholder="Less Than 15"
                        autocomplete="off"></td>
                </tr>
                <tr>
                    <td>Label Set</td>
                    <td><textarea name="label_list" id="labelset" maxlength="1500"
                        placeholder="Please Read The Rules Carefully:
                        1. Max Limit 1500 characters
                        2. Not more than 15 Labels
                        3. Keep Labels space separated
                        4. Use underscore to denote space in a Label.
                        Ex: my_dog my_cat"
                        autocomplete="off"></textarea></td>
                </tr>
                <tr>
                    <td>Choose Annotators (See Below For Description)</td>
                    <td> <select name="annotator_id_list" style="width: 100%; height: 10em;" autocomplete="off" multiple>
                            {% for x in annotator_info_list %}
                                <option value= "{{x['id']}}" >{{x['username']}}</option>
                            {% endfor %}
                        </select>
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <script type="text/javascript">
                var n = document.getElementById("nlabels");
                var insertedText = document.getElementById("labelset");

                document.addEventListener('DOMContentLoaded', function() {
                   // your code here
                   if(n.value > 15)
                   {
                       alert("No. Of Labels Must Be Less Than 15");
                       n.value = null;
                   }
                   insertedText.value = null; // Solid Data Validation
                }, false)

                n.onchange = function() {
                    if(n.value > 15)
                    {
                        alert("No. Of Labels Must Be Less Than 15");
                        n.value = null;
                    }
                    insertedText.value = null; // Solid Data Validation
                    return;
                }
                //alert(n.value);
                //alert(insertedText);
                insertedText.onchange = function() {
                    var names = insertedText.value;//.split(' ');

                    names = names.replace(/ +/g, ' '); //multiple spaces between
                    names = names.replace(/^\s+|\s+$/g, ''); //leading white space
                    var x = names.split(' ').length;
                    //alert(n.value);
                    //alert(x);
                    if(x < n.value)
                    {
                        alert("Incomplete");
                        this.value = names;
                        return;
                    }
                    else if(x > n.value)
                    {
                        alert("Inserted More Than Expected. X-(!");
                        this.value = null;
                        return;
                    }
                    else
                    {
                        this.value = names;
                    }

                }

                var verified = [];
                document.querySelector('select').onchange = function(e) {
                  if (this.querySelectorAll('option:checked').length <= {{max_annotator}}) {
                      verified = Array.apply(null, this.querySelectorAll('option:checked'));
                  } else {
                  alert("Not More Than {{max_annotator}} Annotators");
                    Array.apply(null, this.querySelectorAll('option')).forEach(function(e) {
                        e.selected = verified.indexOf(e) > -1;
                    });

                  }
                }
            </script>
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <form method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Title</td>
                    <td><input type="text" name="title" id="title" maxlength="50" placeholder="Max Limit 50 characters."
                        autocomplete="off" required></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea name="description" maxlength="500" placeholder="Max Limit 500 characters." autocomplete="off"
                        reuired></textarea></td>
                </tr>
                <tr>
                    <td>Deadline</td>
                    <td><input type="date" name="due_date" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td>Sample File (.csv)</td>
                    <td><input type="file" name="samplefile" id="samplefile" accept=".csv"
                        autocomplete="off" required></td>
                    <script type="text/javascript">
                        var uploadField = document.getElementById("samplefile");
                        var regex = new RegExp("(.*?)\.(csv)$");
                        uploadField.onchange = function() {
                            //alert("here");
                            if(this.files[0].size > 1048576*50){
                               alert("File is too big.");
                               this.value = "";
                               return;
                            };
                            //alert("here2");
                            if (!(regex.test(this.value.toLowerCase()))) {
                              this.value = "";
                              alert("Please select correct file format.");
                            }
                            //alert("here3");
                        };
                    </script>
                </tr>
                <tr>
                    <td>No. Of Labels</td>
                    <td><input type="number" name="label_count" id="nlabels" placeholder="Less Than 15"
                        autocomplete="off" required></td>
                </tr>
                <tr>
                    <td>Label Set</td>
                    <td><textarea name="label_list" id="labelset" maxlength="1500"
                        placeholder="Please Read The Rules Carefully:
                        1. Max Limit 1500 characters
                        2. Not more than 15 Labels
                        3. Keep Labels space separated
                        4. Use underscore to denote space in a Label.
                        Ex: my_dog my_cat"
                        autocomplete="off" required></textarea></td>
                </tr>
                <tr>
                    <td>Choose Annotators (See Below For Description)</td>
                    <td> <select name="annotator_id_list" style="width: 100%; height: 10em;" autocomplete="off" multiple required>
                            {% for x in annotator_info_list %}
                                <option value= "{{x['id']}}" >{{x['username']}}</option>
                            {% endfor %}
                        </select>
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <script type="text/javascript">
                var n = document.getElementById("nlabels");
                var insertedText = document.getElementById("labelset");

                document.addEventListener('DOMContentLoaded', function() {
                   // your code here
                   if(n.value > 15)
                   {
                       alert("No. Of Labels Must Be Less Than 15");
                       n.value = null;
                   }
                   insertedText.value = null; // Solid Data Validation
                }, false)

                n.onchange = function() {
                    if(n.value > 15)
                    {
                        alert("No. Of Labels Must Be Less Than 15");
                        n.value = null;
                    }
                    insertedText.value = null; // Solid Data Validation
                    return;
                }
                //alert(n.value);
                //alert(insertedText);
                insertedText.onchange = function() {
                    var names = insertedText.value;//.split(' ');

                    names = names.replace(/ +/g, ' '); //multiple spaces between
                    names = names.replace(/^\s+|\s+$/g, ''); //leading white space
                    var x = names.split(' ').length;
                    //alert(n.value);
                    //alert(x);
                    if(x < n.value)
                    {
                        alert("Incomplete");
                        this.value = names;
                        return;
                    }
                    else if(x > n.value)
                    {
                        alert("Inserted More Than Expected. X-(!");
                        this.value = null;
                        return;
                    }
                    else
                    {
                        this.value = names;
                    }

                }

                var verified = [];
                document.querySelector('select').onchange = function(e) {
                  if (this.querySelectorAll('option:checked').length <= {{max_annotator}}) {
                      verified = Array.apply(null, this.querySelectorAll('option:checked'));
                  } else {
                  alert("Not More Than {{max_annotator}} Annotators");
                    Array.apply(null, this.querySelectorAll('option')).forEach(function(e) {
                        e.selected = verified.indexOf(e) > -1;
                    });

                  }
                }
            </script>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
    </div>

    <div class="Dummy">
        <table>
            <thead>
                <tr>
                    <th>Annotator Name</th>
                    <th>Description</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="AnnotatorDescription" style="overflow-y:auto; height: 15em;">
        <table>
            <tr>
                <th></th>
                <th></th>
            </tr>

            {% for x in annotator_list %}
                <tr>
                    <td>{{x['username']}}</td>
                    <td>Description 1</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% else %}
    <p>Something Wrong!</p>
{% endif %}
{% endblock %}
