{% extends 'base_client.html' %}

{% block title %}Project Page{% endblock %}


{% block header %}
<h1>Client: Project No. {{project_id}}</h1>
{% endblock %}

{% block content %}
{% if g.username %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <p>Client Name: {{g.username}}</p>
    <p>Details: </p>
    {% if info == None %}
        <p><h4>Details Not Found :(</h4></p>
        <p>{{msg}}</p>
    {% else %}
        <div class="ProjectPageClient">
            <table>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Project Title</td>
                    <td>{{info['title']}}</td>
                </tr>
                <tr>
                    <td>Project Id</td>
                    <td>{{info['id']}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{info['description']}}</td>
                </tr>
                <tr>
                    <!-- Only Text Sample -->
                    <td>Sample Type</td>
                    <td>TEXT</td>
                </tr>
                <tr>
                    <td>Create DateTime (GMT)</td>
                    <td>{{info['create_time']}}</td>
                </tr>
                <tr>
                    <td>Due DateTime (GMT)</td>
                    <td>{{info['due_date_time']}}</td>
                </tr>
                <tr>
                    <td>Label Count</td>
                    <td>{{info['label_count']}}</td>
                </tr>
                <tr>
                    <td>Label List</td>
                    <td>{{info['label_list']}}</td>
                </tr>
                <tr>
                    <td>Annotator Count</td>
                    <td>{{info['annotator_count']}}</td>
                </tr>
                <tr>
                    <td>Annotator Id List</td>
                    <td>{{info['annotator_id_list']}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{status}}</td>
                </tr>
                <tr>
                    <td>Sample Size</td>
                    <td>{{info['sample_size']}}</td>
                </tr>
                <tr>
                    <td>Progress</td>
                    <td>{{progress}}</td>
                </tr>
            </table>
        </div>

        <form method="post">
            <button type="submit" name = "button" value="secret">Start</button>
            <button type="submit" name = "button" value="secret2">Stop</button>
        </form>

    {% endif %}
{% else %}
    <p>Something Wrong!</p>
{% endif %}
{% endblock %}
