{% extends 'base_auth.html' %}

{% block title %}Sign In{% endblock %}


{% block header %}
<h1>Pythia Sign In</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

    <div class="Signin">
        <form method="post" autocomplete="off">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" minlength="3" maxlength="5">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" minlength="6" maxlength="12" required >
            <input type="submit" value="Log In">
        </form>
    </div>
{% endblock %}
