{% extends 'base_auth.html' %}

{% block title %}Sign Up{% endblock %}


{% block header %}
<h1>Pythia Sign Up</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

    <div class="Signup">
        <form method="post" autocomplete="off">
            <label for="username">Username</label>
            <input type="text" name="username" id="username"
            pattern="[a-zA-Z0-9]+" minlength="3" maxlength="10" required>
            <small>(a-z, A-Z, 0-9, No Space, 3-10 chars)</small>


            <label for="password"><br>Password</label>
            <input type="password" name="password" id="password"
            minlength="6" maxlength="12" required >
            <small>(6-12 chars)</small>


            <label for="usertype"><br>Join As</label>
            <select name="usertype" required>
                <option value="Annotator">Annotator</option>
                <option value="Client">Client</option>
            </select>
            <input type="submit" value="Sign Up">
        </form>
    </div>
{% endblock %}
